*{
    margin:0;
    padding:0;
    text-align: center;
    color:whitesmoke;
    /* background-color: #010101; */
}
h1{
    height:80px;
    background-image:url(title2.png);
    background-size: contain;
    /* border:1px red solid; */
    background-repeat: no-repeat;
    background-color: #010101;
    /* width:90%; */
    background-position: center;
    margin:20px auto;

    transition-duration: 0.6s ;
    transition-timing-function: ease-out;
    
}
h1:hover{
    opacity: 85%;
    transform: scale(0.96);
    

}
body{
    background-color: #010101;
}
#options{
    background:transparent;
    height:230px;
    text-align: center;
    align-items: center;
    /* border:1px red solid; */
    gap: 5px;
    display:flex; 
    /* display flex can bring divs in one line */
    /* background-color: aqua; */
}
.option:hover{
    opacity: 30%;
    cursor:pointer;
    transform: scale(1.1);
    
}
.option{
    height:100px;
    width:100px;
    display:flex;
    justify-content:center;
    /* margin-left:50px; */
    /* border:1px red solid; */
    margin:auto;
    align-items: center;

    transition-duration: 0.4s ;
    transition-timing-function: ease-out;

}

img{
    object-fit: cover;
    height:200px;
    width:200px;
    /* display: flex; */
    border-radius: 50%;
    /* background-color: pink; */
}

#score{
    background:transparent;
    padding:10px;
    display :flex;
    justify-content: center;
    /* bring all divs to center */
    gap:440px;
    HEIGHT:365px;
    align-items: center;
    /* border:1px red solid; */

}
#msg{
    color:whitesmoke;
    opacity: 70%;

    transition-duration: 0.3s ;
    transition-timing-function: ease-out;
}
#msg:hover{
    transform: scale(1.5);
    color:red;
    cursor:none;
}
#my, #cmp{
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
#my:hover, #cmp:hover {
    transform: scale(1.2);
    cursor:none;
    color:red;
}
#userval{
    font-size: 5rem;
}
#cmpval{
    font-size: 5rem;
}
#throne{
    background-image:url("ironthrone2.png") ;
    background-size: cover;
    height:600px;
    background-position: center;
}
button{
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20px;
    padding:5px;
    /* border:1px red solid; */
    color:red;
    /* background-color: red; */
    border-radius: 15%;
    padding-left: 10px;
    padding-right:10px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(69, 66, 66);
    border:whitesmoke;

    transition-duration: 0.3s ;
    transition-timing-function: ease-out;
}
button:hover{
    cursor: pointer;
    opacity: 50%;
    transform: scale(1.3);
}
